<div class="top-bar">
  <div class="row">
  <div class="top-bar-left">
    <a class="navbar-brand" href="#">Brand</a>
  </div>
  <div class="top-bar-right">
    <f:cObject typoscriptObjectPath="lib.mainNav"   />
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Yeti Store</li>
      <li class="has-submenu">
      <a href="#">One</a>
      <ul class="submenu menu vertical" data-submenu>
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      </ul>
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  </div>
</div>
